<app-notification></app-notification>
<section class="row mlr0 navbar-block">
  <div class="col-md-3">
    <img class="logo" alt="logo" src="../../assets/logo2.png" />
  </div>
  <div class="col-md-9 col-sm-12 col-xs-12 p0">
    <ul class="custom-breadcrumb">
      <li>
        <a href="javascript:void(0)" (click)="gotoDashboardPage()">Dashboard</a>
      </li>
      <li>
        <a href="javascript:void(0)" class="active" (click)="goToPatients()"
          >Patients</a
        >
      </li>
      <li>
        <a href="javascript:void(0)">MD Connect</a>
      </li>
      <li>
        <a href="javascript:void(0)">Schedule</a>
      </li>
      <li>
        <a href="javascript:void(0)" (click)="goToAnlyticsPage()">Analytics</a>
      </li>
    </ul>
  </div>
</section>

<section class="row ob-patients-block mx-0 px-4">
  <div class="row col-md-12 mx-0 p0 mt-2">
    <div class="row col-md-5 mx-0 p0 mt-2">
      <h3 class="text-info">Discharged Patients</h3>
    </div>
    <div class="col-md-7 col-sm-12 col-xs-12 p0">
      <ul class="custom-breadcrumb pull-right">
        <li class="ml-2">
          <button type="button" class="btn btn-info" (click)="goToAddPatient()">
            <i class="fa fa-plus-circle"></i> Add New Patient
          </button>
        </li>
        <li class="ml-2">
          <button
            type="button"
            class="btn btn-success"
            (click)="patientsTypeSelection()"
          >
            Census
          </button>
        </li>

        <li class="ml-2 pull-right">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="goToOutPatient()"
          >
            Discharged
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="row col-md-12 mx-0 p0 mt-4">
    <div class="card col-md-12 p0 m0">
      <div class="card-header text-white bg-info">
        <h5><i class="fa fa-calendar" aria-hidden="true"></i> OB</h5>
      </div>
      <div class="card-body">
        <div class="pull-right">
          <mat-form-field>
            <mat-label>Search</mat-label>
            <input
              matInput
              (keyup)="applyFilter($event)"
              placeholder=""
              #input
            />
          </mat-form-field>
        </div>
      </div>
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="fullName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row">{{ row.fullName }}</td>
        </ng-container>

        <ng-container matColumnDef="roomNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Room Number</th>
          <td mat-cell *matCellDef="let row">{{ row.roomNumber }}</td>
        </ng-container>

        <ng-container matColumnDef="gsPs">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>G's & P's</th>
          <td mat-cell *matCellDef="let row">{{ row.gsPs }}</td>
        </ng-container>

        <ng-container matColumnDef="edd">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>EDD</th>
          <td mat-cell *matCellDef="let row">
            {{ row.edd }}
          </td>
        </ng-container>

        <ng-container matColumnDef="admissionStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Admission Status
          </th>
          <td mat-cell *matCellDef="let row">
            Discharged on {{ row.dischargeDate }} -
            <a [routerLink]="" (click)="openDialog(row)">Re-admit </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let row">
            <a (click)="goToUpdatePatient(row)" href="javascript:;">
              view/edit</a
            >
          </td>
        </ng-container>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="6">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>

        <ng-container matColumnDef="noData">
          <mat-footer-cell
            *matFooterCellDef
            [attr.colspan]="displayedColumns.length"
          >
            No records found.
          </mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="loading">
          <mat-footer-cell
            *matFooterCellDef
            [attr.colspan]="displayedColumns.length"
          >
            Loading, please wait...
          </mat-footer-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <mat-footer-row
          *matFooterRowDef="['noData']"
          [hidden]="!dataSource || (dataSource && dataSource.data.length)"
        ></mat-footer-row>
        <mat-footer-row
          *matFooterRowDef="['loading']"
          [hidden]="dataSource"
        ></mat-footer-row>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
  <div *ngIf="gynPatientsList.length" class="row col-md-12 mx-0 p0 mt-4 mb-5">
    <app-gyn-patients
      [gynPatientsList]="gynPatientsList"
      patientStatus="discharged"
      (openDialog)="openDialog($event)"
      class="row col-md-12 mx-0 p0"
    ></app-gyn-patients>
  </div>
</section>
