<mat-card-header>
About
</mat-card-header>

<mat-card-content>

    <p>About</p>
    <p>instaRounds is a mobile and web based App that allows physicians to have seamless sign out and communication
      regarding those patients under their care.</p>
    <p>We’ve all been there with confusing spreadsheets with patients’ names on them,yet we have never been able to
      efficiently communicate with other members of our health care team. Now with our latest OB/GYN template for patient
      sign out, it becomes easy to be efficient and increase the safety profile for those patients we care for.</p>
    <p>If communicating with members of your healthcare team or other doctors in general is important to you, we enable
      this with multi-layer SSL HIPAA compliant communication with our MD-to-MD platform. You can chat and share images
      with your colleagues and even form a group to have an even more candid discussion about a particular patient or
      condition, or just have fun and communicate with your colleagues. This is free to all users on our platform so
      invite your friends!</p>
    <p>The schedule option in the app mirrors the web version of the site at instaRounds.com. This is where your office
      staff can schedule your upcoming procedures or meetings and you can see them on your mobile App.</p>
    <p>We should warn you, this App can be very addictive and your fellow physicians will accuse you of “instaRounds
      stalking”.</p>
    <p>We hope you enjoy using this App and please share this with your friends and colleagues.</p>
    <p>Your instaRounds Team.</p>

</mat-card-content>
