<app-notification></app-notification>

<section class="row mlr0 navbar-block">
  <div class="col-md-3">
    <img class="logo" alt="logo" src="../../assets/logo2.png" />
  </div>
  <div class="col-md-9 col-sm-12 col-xs-12 p0">
    <ul class="custom-breadcrumb">
      <li>
        <a href="javascript:void(0)" (click)="gotoDashboardPage()">Dashboard</a>
      </li>
      <li>
        <a
          href="javascript:void(0)"
          class="active"
          (click)="patientsTypeSelection()"
          >Patients</a
        >
      </li>
      <li>
        <a href="javascript:void(0)">MD to MD</a>
      </li>
      <li>
        <a href="javascript:void(0)">Schedule</a>
      </li>
      <li>
        <a href="javascript:void(0)" (click)="goToAnlyticsPage()">Analytics</a>
      </li>
    </ul>
  </div>
</section>

<section class="row ob-patients-block mx-0 px-4">
  <div class="row col-md-12 mx-0 p0 mt-2">
    <div class="col-md-7 offset-md-5 col-sm-12 col-xs-12 p0">
      <ul class="custom-breadcrumb pull-right">
        <li class="ml-2">
          <button
            type="button"
            class="btn btn-success"
            (click)="patientsTypeSelection()"
          >
            Census
          </button>
        </li>

        <li class="ml-2 pull-right">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="goToOutPatient()"
          >
            Discharged
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="row col-md-12 mx-0 p0 mt-4">
    <div class="card col-md-12 p0 m0">
      <div class="card-header text-white bg-info">
        <h5>
          <i class="fa fa-user" aria-hidden="true"></i> Patient Registration
        </h5>
      </div>
      <div class="card-body">
        <div class="row col-md-10 offset-md-1 justify-content-between">
          <div class="col-md-4">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>First Name:</mat-label>
              <input matInput [(ngModel)]="patientDetails.fname" />
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Last Name:</mat-label>
              <input matInput [(ngModel)]="patientDetails.lname" />
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Room No:</mat-label>
              <input matInput [(ngModel)]="patientDetails.roomNo" />
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Hospital</mat-label>
              <mat-select
                [(ngModel)]="patientDetails.hospitalID"
                name="hospital"
                (ngModelChange)="handleHospitalChange($event)"
              >
                <mat-option
                  *ngFor="let hospital of hospitalList"
                  [value]="hospital.id"
                >
                  {{ hospital.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Patient Type :</mat-label>
              <mat-select
                color="secondary"
                [(ngModel)]="patientDetails.patientTypeId"
                name="patientAddType"
                (ngModelChange)="onPatientTypeChange()"
              >
                <mat-option value="1"> OB</mat-option>
                <mat-option value="2"> GYN</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Procedure</mat-label>
              <mat-select
                *ngIf="patientDetails.patientTypeId === '1'"
                color="secondary"
                [(ngModel)]="selectedOBProcedure"
                (ngModelChange)="onProcedureChange($event)"
              >
                <mat-option value="">Select Procedure</mat-option>
                <mat-option
                  *ngFor="let procedure of procedureList"
                  [value]="procedure.id || null"
                >
                  {{ procedure.procedureName }}</mat-option
                >
              </mat-select>

              <mat-select
                color="secondary"
                *ngIf="patientDetails.patientTypeId === '2'"
                multiple
                placeholder="Procedure"
                [(ngModel)]="selectedGYNProcedure"
                (ngModelChange)="onProcedureChange($event)"
              >
                <mat-option
                  *ngFor="let procedure of procedureList"
                  [value]="procedure.id"
                >
                  {{ procedure.procedureName }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <div class="row col-md-4 p0 mx-0">
            <div class="col-10">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Admit Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="admitDate"
                  [(ngModel)]="patientDetails.admitDate"
                  (dateChange)="updateAdmitDate($event)"
                  [min]="admitMinDate"
                  [max]="admitMaxDate"
                />

                <mat-datepicker-toggle
                  matSuffix
                  [for]="admitDate"
                ></mat-datepicker-toggle>
                <mat-datepicker #admitDate></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-2 pl-0">
              <mat-hint
                align="end"
                matTooltip="Set the date for patient admission. &#13;&#10;&#13;&#10; (NOTE: If the appointment date has been given, no need to fill the admit section)"
                matTooltipPosition="right"
                ><i class="fa fa-info-circle fa-lg"></i
              ></mat-hint>
            </div>
          </div>

          <div
            class="row col-md-12 p0 mx-0"
            type="OB"
            *ngIf="patientDetails.patientTypeId === '1'"
          >
            <div class="col-md-12 mb-2">
              <h3 class="text-info">OB</h3>
            </div>
            <!-- Other than Postpartum and C-Section-->
            <div
              class="row col-md-12 p0 mx-0"
              *ngIf="selectedOBProcedure !== 3 && selectedOBProcedure !== 16"
            >
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>LMP</mat-label>
                  <input
                    matInput
                    [matDatepicker]="lmp"
                    [(ngModel)]="patientDetails.lmp"
                    (dateChange)="updateLmpDate($event)"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="lmp"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #lmp></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>EDD</mat-label>
                  <input
                    matInput
                    [matDatepicker]="edd"
                    [(ngModel)]="patientDetails.edd"
                    (dateChange)="updateEddDate($event)"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="edd"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #edd></mat-datepicker>
                </mat-form-field>
              </div>
            </div>

            <!-- For Procedure - PostPartum-->
            <div
              class="row col-md-12 p0 mx-0"
              *ngIf="selectedOBProcedure === 3"
            >
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Date:</mat-label>
                  <input
                    matInput
                    [matDatepicker]="postpartumDate"
                    [(ngModel)]="patientDetails.postpartumDate"
                    (dateChange)="updatePostPatumDate($event)"
                    [min]="postPartumMinDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="postpartumDate"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #postpartumDate></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Postpartum Day</mat-label>
                  <input
                    matInput
                    [(ngModel)]="patientDetails.postpartumDay"
                    [readonly]="true"
                  />
                </mat-form-field>
              </div>
            </div>
            <!-- For Procudure - C-Section -->
            <div
              class="row col-md-12 p0 mx-0 mb-3"
              *ngIf="selectedOBProcedure === 16"
              type="OB-C-Section"
            >
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>C-Section Reason</mat-label>
                  <mat-select
                    color="secondary"
                    [(ngModel)]="patientDetails.csecReason"
                  >
                    <mat-option
                      *ngFor="let reason of csectionReasonList"
                      [value]="reason.id"
                    >
                      {{ reason.reason }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-8">
                <div class="col-md-12 mb-1">
                  <h5>Mode:</h5>
                </div>
                <div class="col-md-12 mt-1 mb-1">
                  <ul>
                    <li *ngFor="let mode of cpModeList">
                      <mat-checkbox
                        color="primary"
                        class="example-margin"
                        [(ngModel)]="mode.isChecked"
                        (ngModelChange)="handleModeChange($event)"
                      >
                        {{ mode.modeName }}
                      </mat-checkbox>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-4 otherRadioYN">
                <div class="col-md-4 mt-2 mb-1 p0">
                  <h5>Induced:</h5>
                </div>
                <div class="col-md-8 mt-2 mb-1 pt-1">
                  <mat-radio-group
                    aria-label="Select an option"
                    [(ngModel)]="patientDetails.induced"
                    color="primary"
                  >
                    <mat-radio-button value="true">Yes</mat-radio-button>
                    <mat-radio-button value="false">No</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="col-md-8 p0">
                <div
                  class="col-md-12 mt-3 mb-2"
                  *ngIf="patientDetails.induced === 'true'"
                >
                  <div class="col-md-12">
                    <h5>Reason for Induced:</h5>
                  </div>
                  <div class="col-md-12 mt-1 mb-3">
                    <ul>
                      <li *ngFor="let reason of inReason">
                        <mat-checkbox
                          color="primary"
                          class="example-margin"
                          [(ngModel)]="reason.isChecked"
                          (ngModelChange)="handleInducedReasonChange($event)"
                        >
                          {{ reason.irName }}
                        </mat-checkbox>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12 mt-2 mb-1">
              <h5>Gestational Age:</h5>
            </div>
            <div class="row col-md-12 p0 mx-0 mb-1">
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="gsps_weeks_days">
                  <mat-label>Weeks</mat-label>
                  <mat-select
                    color="secondary"
                    [(ngModel)]="gsWeeks"
                    (ngModelChange)="updateDatesOnWeeksChange()"
                  >
                    <mat-option
                      *ngFor="let value of gsWeeksList"
                      [value]="value"
                    >
                      {{ value }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="gsps_weeks_days">
                  <mat-label>Days</mat-label>
                  <mat-select
                    color="secondary"
                    [(ngModel)]="gsDays"
                    (ngModelChange)="updateDatesOnWeeksChange()"
                  >
                    <mat-option
                      *ngFor="let value of gsDaysList"
                      [value]="value"
                    >
                      {{ value }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-4">
                <mat-form-field appearance="outline" class="gtpal_width">
                  <mat-label>G </mat-label>
                  <mat-select color="secondary" [(ngModel)]="gspsg">
                    <mat-option *ngFor="let value of gspsList" [value]="value">
                      {{ value }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="gtpal_width">
                  <mat-label>T </mat-label>
                  <mat-select color="secondary" [(ngModel)]="gspst">
                    <mat-option *ngFor="let value of gspsList" [value]="value">
                      {{ value }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="gtpal_width">
                  <mat-label>P </mat-label>
                  <mat-select color="secondary" [(ngModel)]="gspsp">
                    <mat-option *ngFor="let value of gspsList" [value]="value">
                      {{ value }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="gtpal_width">
                  <mat-label>A </mat-label>
                  <mat-select color="secondary" [(ngModel)]="gspsa">
                    <mat-option *ngFor="let value of gspsList" [value]="value">
                      {{ value }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="gtpal_width">
                  <mat-label>L </mat-label>
                  <mat-select color="secondary" [(ngModel)]="gspsl">
                    <mat-option *ngFor="let value of gspsList" [value]="value">
                      {{ value }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>GBS (+/-) </mat-label>
                  <mat-select
                    color="secondary"
                    [(ngModel)]="this.patientDetails.gbs"
                  >
                    <mat-option value="1"> +ve</mat-option>
                    <mat-option value="2"> -ve</mat-option>
                    <mat-option value="3"> Unknown</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="row col-md-12 p0 mt-2 mx-0 mb-1" type="babyInfo">
              <div class="col-md-12 mt-2 mb-3">
                <h5>Baby Info:</h5>
              </div>
              <div class="row col-md-12 p0 mx-0 mb-1">
                <div class="row col-md-12 p0 mx-0 mb-2 mt-1">
                  <div class="col-md-4">
                    <mat-radio-group
                      aria-label="Select an option"
                      [(ngModel)]="patientDetails.babyInfo"
                      color="primary"
                    >
                      <mat-radio-button value="1">Singleton</mat-radio-button>
                      <mat-radio-button value="2">Twin</mat-radio-button>
                      <mat-radio-button value="3">Other</mat-radio-button>
                    </mat-radio-group>
                  </div>

                  <div class="col-md-4" *ngIf="patientDetails.babyInfo === '3'">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Other Info</mat-label>
                      <input
                        matInput
                        [(ngModel)]="patientDetails.babyOtherInfo"
                      />
                    </mat-form-field>
                  </div>
                </div>
                <div class="row col-md-12 p0 mx-0 mb-2 mt-1">
                  <div class="col-md-4">
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Birth Weight</mat-label>
                      <input
                        type="number"
                        matInput
                        [(ngModel)]="patientDetails.birthWeight"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field
                      appearance="outline"
                      class="example-full-width"
                    >
                      <mat-label>Birth Date</mat-label>
                      <input
                        matInput
                        [matDatepicker]="babyBirthDate"
                        [(ngModel)]="patientDetails.babyBirthDate"
                        (dateChange)="updatebabyBirthDate($event)"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="babyBirthDate"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #babyBirthDate></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-md-4 otherRadioYN">
                  <div class="col-md-4 mt-2 mb-1 p0">
                    <h6 class="text-secondary">Sex of Baby:</h6>
                  </div>
                  <div class="col-md-8 mt-2 mb-1 p0">
                    <mat-radio-group
                      aria-label="Select an option"
                      [(ngModel)]="patientDetails.babyGender"
                      color="primary"
                    >
                      <mat-radio-button value="M">M</mat-radio-button>
                      <mat-radio-button value="F">F</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>

                <div class="col-md-4 otherRadioYN">
                  <div class="col-md-4 mt-2 mb-1 p0">
                    <h6 class="text-secondary">NICU:</h6>
                  </div>
                  <div class="col-md-8 mt-2 mb-1 p0">
                    <mat-radio-group
                      aria-label="Select an option"
                      [(ngModel)]="patientDetails.nicu"
                      color="primary"
                    >
                      <mat-radio-button value="true">Y</mat-radio-button>
                      <mat-radio-button value="false">N</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>

                <div class="col-md-4 otherRadioYN">
                  <div class="col-md-4 mt-2 mb-1 p0">
                    <h6 class="text-secondary">APGAR 5 min:</h6>
                  </div>
                  <div class="col-md-8 mt-2 mb-1 p0">
                    <mat-radio-group
                      aria-label="Select an option"
                      [(ngModel)]="patientDetails.apgar"
                      color="primary"
                    >
                      <mat-radio-button value=">7"> &gt;7</mat-radio-button>
                      <mat-radio-button value="<7"> &lt;7</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>

                <div class="col-md-4 otherRadioYN">
                  <div class="col-md-4 mt-2 mb-1 p0">
                    <h6 class="text-secondary">Live Birth:</h6>
                  </div>
                  <div class="col-md-8 mt-2 mb-1 p0">
                    <mat-radio-group
                      aria-label="Select an option"
                      [(ngModel)]="patientDetails.liveBirth"
                      color="primary"
                    >
                      <mat-radio-button value="true">Y</mat-radio-button>
                      <mat-radio-button value="false">N</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>

                <div class="col-md-4 otherRadioYN">
                  <div class="col-md-4 mt-2 mb-1 p0">
                    <h6 class="text-secondary">Vertex:</h6>
                  </div>
                  <div class="col-md-8 mt-2 mb-1 p0">
                    <mat-radio-group
                      aria-label="Select an option"
                      [(ngModel)]="patientDetails.vertex"
                      color="primary"
                    >
                      <mat-radio-button value="true">Y</mat-radio-button>
                      <mat-radio-button value="false">N</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="row col-md-12 p0 mx-0"
            type="GYN"
            *ngIf="patientDetails.patientTypeId === '2'"
          >
            <div class="col-md-12 mb-1">
              <h3 class="text-info">GYN</h3>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Date Of Surgery </mat-label>
                <input
                  matInput
                  [matDatepicker]="picker1"
                  [(ngModel)]="patientDetails.dos"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker1"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Surgeon</mat-label>
                <input matInput [(ngModel)]="patientDetails.surgeon" />
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Pre-op Diagnosis</mat-label>
                <input matInput [(ngModel)]="preopDiag" />
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>EBL </mat-label>
                <mat-select
                  color="secondary"
                  [(ngModel)]="patientDetails.ebl"
                  name="ebl"
                  (ngModelChange)="onEblChange($event)"
                >
                  <mat-option value="<7">&lt;7</mat-option>
                  <mat-option value="100-300 cc">100-300 cc</mat-option>
                  <mat-option value="300-700 cc">300-700 cc</mat-option>
                  <mat-option value=">7">&gt;7</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Complications</mat-label>
                <input matInput [(ngModel)]="patientDetails.complications" />
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Foley Catheter</mat-label>
                <mat-select
                  color="secondary"
                  [(ngModel)]="patientDetails.fcm"
                  name="fcm"
                  (ngModelChange)="onCatheterChange($event)"
                >
                  <mat-option value="D/C">D/C</mat-option>
                  <mat-option value="Voiding Trial">Voiding Trial</mat-option>
                  <mat-option value="Keep">Keep</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Post-op Antibiotics </mat-label>
                <mat-select
                  color="secondary"
                  [(ngModel)]="patientDetails.postop"
                  name="postop"
                  (ngModelChange)="onbAntiboiticsChange($event)"
                >
                  <mat-option value="Y"> Yes</mat-option>
                  <mat-option value="N"> No</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <hr class="mt-2 mb-3" />
          <div class="row col-md-12 p0 mx-0">
            <hr />
            <div class="col-md-12 mb-1">
              <h5 class="text-info">
                Appointment
                <mat-hint
                  class="hintFont"
                  align="end"
                  open
                  matTooltip="For creating an appointment, fill all below mandatory fields. &#13;&#10;&#13;&#10; (NOTE: If the admit date has been given, no need to fill the appointment section)"
                  matTooltipPosition="right"
                  ><i class="fa fa-info-circle fa-lg"></i
                ></mat-hint>
              </h5>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Start Time </mat-label>
                <input
                  matInput
                  [matDatepicker]="appointmentStartTime"
                  [(ngModel)]="patientDetails.appointmentStartTime"
                />

                <mat-datepicker-toggle
                  matSuffix
                  [for]="appointmentStartTime"
                ></mat-datepicker-toggle>
                <mat-datepicker #appointmentStartTime></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>End Time </mat-label>
                <input
                  matInput
                  [matDatepicker]="appointmentEndTime"
                  [(ngModel)]="patientDetails.appointmentEndTime"
                />

                <mat-datepicker-toggle
                  matSuffix
                  [for]="appointmentEndTime"
                ></mat-datepicker-toggle>
                <mat-datepicker #appointmentEndTime></mat-datepicker>
              </mat-form-field>
            </div>
            <!-- <div class="col-md-4">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Physicians Name</mat-label>
                <mat-select color="secondary" [(ngModel)]="physicianName">
                  <mat-option
                    *ngFor="let value of physiciansList"
                    [value]="value"
                  >
                    {{ value }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div> -->
          </div>

          <div class="col-12">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Pertinent Info</mat-label>
              <textarea matInput [(ngModel)]="patientDetails.desc"> </textarea>
            </mat-form-field>
          </div>
          <div class="row col-md-12 mx-0 actionButtonsWrapper">
            <button
              mat-raised-button
              class="btn actionButtons"
              (click)="patientsTypeSelection()"
            >
              Cancel
            </button>
            <button
              mat-raised-button
              class="btn btn-info actionButtons"
              (click)="savePatientDetails()"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
