<app-notification></app-notification>

<section class="row mlr0 navbar-block">
  <div class="col-md-3">
    <img class="logo" alt="logo" src="../../assets/logo2.png" />
  </div>
  <div class="col-md-9 col-sm-12 col-xs-12 p0">
    <ul class="custom-breadcrumb">
      <li>
        <a href="javascript:void(0)" (click)="gotoDashboardPage()">Dashboard</a>
      </li>
      <li>
        <a
          href="javascript:void(0)"
          class="active"
          (click)="patientsTypeSelection()"
          >Patients</a
        >
      </li>
      <li>
        <a href="javascript:void(0)">MD Connect</a>
      </li>
      <li>
        <a href="javascript:void(0)">Schedule</a>
      </li>
      <li>
        <a href="javascript:void(0)" (click)="goToAnlyticsPage()">Analytics</a>
      </li>
    </ul>
  </div>
</section>

<section class="row ob-patients-block mx-0 px-4">
  <div class="row col-md-12 mx-0 p0 mt-2">
    <div class="col-md-7 offset-md-5 col-sm-12 col-xs-12 p0">
      <ul class="custom-breadcrumb pull-right">
        <li class="ml-2">
          <button
            type="button"
            class="btn btn-success"
            (click)="patientsTypeSelection()"
          >
            Census
          </button>
        </li>

        <li class="ml-2 pull-right">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="goToOutPatient()"
          >
            Discharged
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="row col-md-12 mx-0 p0 mt-4">
    <div class="card col-md-12 p0 m0">
      <div class="card-header text-white bg-info">
        <h5>
          <i class="fa fa-user" aria-hidden="true"></i> Patient Registration
        </h5>
      </div>
      <div class="card-body">
        <div class="row col-md-10 offset-md-1 justify-content-between">
          <div class="col-md-4">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>First Name:</mat-label>
              <input matInput [(ngModel)]="patientDetails.first_name" />
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Last Name:</mat-label>
              <input matInput [(ngModel)]="patientDetails.last_name" />
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Room No:</mat-label>
              <input matInput [(ngModel)]="patientDetails.room_number" />
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Hospital</mat-label>
              <mat-select
                [(ngModel)]="patientDetails.hospital_id"
                name="hospital"
                (ngModelChange)="handleHospitalChange($event)"
              >
                <mat-option
                  *ngFor="let hospital of hospitalList"
                  [value]="hospital.hospital_id"
                >
                  {{ hospital.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-4">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Patient Type :</mat-label>
              <mat-select
                color="secondary"
                [(ngModel)]="patientDetails.patient_type_id"
                name="patientAddType"
                (ngModelChange)="onPatientTypeChange()"
              >
                <mat-option value="1"> Obstetrics</mat-option>
                <mat-option value="2"> Gynecology</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-md-4" *ngIf="patientDetails.patient_type_id === '1'">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Procedure</mat-label>
              <mat-select
                color="secondary"
                [(ngModel)]="patientDetails.procedure_id"
                (ngModelChange)="onProcedureChange($event)"
              >
                <mat-option value="">Select Procedure</mat-option>
                <mat-option
                  *ngFor="let procedure of procedureList"
                  [value]="procedure.procedure_id || null"
                >
                  {{ procedure.procedure_name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4" *ngIf="patientDetails.patient_type_id === '2'">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Procedure</mat-label>

              <mat-select
                color="secondary"
                multiple
                placeholder="Procedure"
                [(ngModel)]="patientDetails.procedure_id"
                (ngModelChange)="onProcedureChange($event)"
              >
                <mat-option
                  *ngFor="let procedure of procedureList"
                  [value]="procedure.procedure_id"
                >
                  {{ procedure.procedure_name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <div class="row col-md-4 p0 mx-0">
            <div class="col-10">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Admit Date</mat-label>
                <input
                  matInput
                  [readonly]="true"
                  [matDatepicker]="admitDate"
                  [(ngModel)]="patientDetails.admitted_date"
                  [min]="admitMinDate"
                  [max]="admitMaxDate"
                />

                <mat-datepicker-toggle
                  matSuffix
                  [for]="admitDate"
                ></mat-datepicker-toggle>

                <mat-datepicker #admitDate></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-2 pl-0">
              <mat-hint
                align="end"
                matTooltip="Set the date for patient admission. &#13;&#10;&#13;&#10; (NOTE: If the appointment date has been given, no need to fill the admit section)"
                matTooltipPosition="right"
                ><i class="fa fa-info-circle fa-lg"></i
              ></mat-hint>
            </div>
          </div>
          <!-- OB Fields -->
          <div
            class="row col-md-12 p0 mx-0"
            type="OB"
            *ngIf="patientDetails.patient_type_id === '1'"
          >
            <div class="col-md-12 mb-2">
              <h3 class="text-info">OB</h3>
            </div>
            <!-- Other than Postpartum and C-Section-->
            <div
              class="row col-md-12 p0 mx-0"
              *ngIf="
                procedureName === 'Antepartum' ||
                procedureName === 'Intrapartum'
              "
            >
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>LMP</mat-label>
                  <input
                    matInput
                    [readonly]="true"
                    [matDatepicker]="lmp"
                    [(ngModel)]="patientDetails.lmp"
                    min="2000-12-31"
                    [max]="lmpMaxDate"
                    (dateChange)="updateLmpDate($event)"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="lmp"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #lmp></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>EDD</mat-label>
                  <input
                    matInput
                    [matDatepicker]="edd"
                    [(ngModel)]="patientDetails.edd"
                    (dateChange)="updateEddDate($event)"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="edd"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #edd></mat-datepicker>
                </mat-form-field>
              </div>
            </div>

            <!-- For Procedure - PostPartum-->
            <div
              class="row col-md-12 p0 mx-0"
              *ngIf="procedureName === 'Postpartum'"
            >
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>Date:</mat-label>
                  <input
                    matInput
                    [matDatepicker]="postpartumDate"
                    [(ngModel)]="patientDetails.postpartum_date"
                    (dateChange)="updatePostPatumDate($event)"
                    [min]="postPartumMinDate"
                    [max]="postPartumMaxDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="postpartumDate"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #postpartumDate></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Postpartum Day</mat-label>
                  <input
                    matInput
                    [(ngModel)]="patientDetails.postpartum_day"
                    [readonly]="true"
                  />
                </mat-form-field>
              </div>
            </div>

            <div
              class="row col-md-12 mt-2 mb-1 p0 mx-0"
              *ngIf="procedureName === 'Postpartum'"
            >
              <div class="col-md-8 p0">
                <div class="col-md-12 mb-1">
                  <h5 class="text-secondary">Mode:</h5>
                </div>
                <div class="col-md-12 mt-1 mb-1">
                  <ul>
                    <li *ngFor="let mode of cpModeList">
                      <mat-checkbox
                        color="primary"
                        class="example-margin"
                        [(ngModel)]="mode.isChecked"
                        (ngModelChange)="handleModeChange($event)"
                      >
                        {{ mode.mode_name }}
                      </mat-checkbox>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- For Procudure - C-Section -->
            <div
              class="row col-md-12 p0 mx-0"
              *ngIf="procedureName === 'C-Section'"
              type="OB-C-Section"
            >
              <div class="row col-md-12 mt-2 mb-1 p0 mx-0">
                <div class="col-md-4">
                  <mat-form-field
                    appearance="outline"
                    class="example-full-width"
                  >
                    <mat-label>C-Section Reason</mat-label>

                    <mat-select
                      color="secondary"
                      multiple
                      placeholder="C-Section Reason"
                      [(ngModel)]="patientDetails.c_section_id"
                    >
                      <mat-option
                        *ngFor="let reason of csectionReasonList"
                        [value]="reason.reason_id"
                      >
                        {{ reason.reason }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
                <!-- <div class="col-md-4" *ngIf="isCSectionOthrReason">
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Other C-Section Reason</mat-label>
                    <input
                      matInput
                      [(ngModel)]="patientDetails.csectionReasonOther"
                    />
                  </mat-form-field>
                </div> -->
              </div>

              <div class="col-md-4 inducedReason">
                <div class="col-md-4 mt-2 mb-1 p0">
                  <h5 class="text-secondary">Induced:</h5>
                </div>
                <div class="col-md-8 mt-2 mb-1 pt-1">
                  <mat-radio-group
                    aria-label="Select an option"
                    [(ngModel)]="patientDetails.induced"
                    color="primary"
                  >
                    <mat-radio-button value="true">Yes</mat-radio-button>
                    <mat-radio-button value="false">No</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div
                class="row col-md-12 mt-2 mb-2 p0"
                *ngIf="patientDetails.induced === 'true'"
              >
                <div class="col-md-8 p0">
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <h5 class="text-secondary">Reason for Induced:</h5>
                    </div>
                    <div class="col-md-12 mt-1 mb-3">
                      <ul>
                        <li *ngFor="let reason of inReason">
                          <mat-checkbox
                            color="primary"
                            class="example-margin"
                            [(ngModel)]="reason.isChecked"
                            (ngModelChange)="onInducedReasonChange($event)"
                          >
                            {{ reason.ir_name }}
                          </mat-checkbox>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div
                  class="col-md-4"
                  *ngIf="
                    isOtherInducedReason && patientDetails.induced === 'true'
                  "
                >
                  <mat-form-field
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-label>Other Induced Reason</mat-label>
                    <input
                      matInput
                      [(ngModel)]="patientDetails.induced_reason_others"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div
              class="col-md-12 mt-4 mb-1"
              *ngIf="
                procedureName === 'Antepartum' ||
                procedureName === 'Intrapartum' ||
                procedureName === 'Postpartum'
              "
            >
              <h5 class="text-secondary">Gestational Age:</h5>
            </div>
            <div
              class="row col-md-12 p0 mx-0 mb-1"
              *ngIf="
                procedureName === 'Antepartum' ||
                procedureName === 'Intrapartum' ||
                procedureName === 'Postpartum' ||
                procedureName === 'Other'
              "
            >
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="gsps_weeks_days">
                  <mat-label>Weeks</mat-label>
                  <mat-select
                    color="secondary"
                    [(ngModel)]="gsWeeks"
                    (ngModelChange)="updateDatesOnWeeksChange()"
                  >
                    <mat-option
                      *ngFor="let value of gsWeeksList"
                      [value]="value"
                    >
                      {{ value }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="gsps_weeks_days">
                  <mat-label>Days</mat-label>
                  <mat-select
                    color="secondary"
                    [(ngModel)]="gsDays"
                    (ngModelChange)="updateDatesOnWeeksChange()"
                  >
                    <mat-option
                      *ngFor="let value of gsDaysList"
                      [value]="value"
                    >
                      {{ value }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div
              class="row col-md-12 p0 mt-2 mx-0 mb-5"
              type="babyInfo"
              *ngIf="
                procedureName === 'Postpartum' || procedureName === 'C-Section'
              "
            >
              <div class="col-md-12 mt-2 mb-3">
                <h5 class="text-secondary">Baby Info:</h5>
              </div>
              <div class="row col-md-12 p0 mx-0 mb-1">
                <div class="row col-md-12 p0 mx-0 mb-2 mt-1">
                  <div class="col-md-4">
                    <mat-radio-group
                      aria-label="Select an option"
                      [(ngModel)]="patientDetails.baby.baby_info"
                      (ngModelChange)="
                        onBabyInfoChange(patientDetails.baby.baby_info)
                      "
                      color="primary"
                    >
                      <mat-radio-button value="1">Singleton</mat-radio-button>
                      <mat-radio-button value="2">Twin</mat-radio-button>
                      <mat-radio-button value="Other">Other</mat-radio-button>
                    </mat-radio-group>
                  </div>

                  <div
                    class="col-md-4"
                    *ngIf="patientDetails.baby.baby_info === 'Other'"
                  >
                    <mat-form-field
                      class="example-full-width"
                      appearance="outline"
                    >
                      <mat-label>Other Info</mat-label>

                      <mat-select
                        color="secondary"
                        [(ngModel)]="this.patientDetails.baby.baby_other_info"
                        (ngModelChange)="onBabyInfoChange($event)"
                      >
                        <mat-option value="3">3</mat-option>
                        <mat-option value="4">4</mat-option>
                        <mat-option value="5">5</mat-option>
                        <mat-option value="6">6</mat-option>
                        <mat-option value="7">7</mat-option>
                        <mat-option value="8">8</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="col-md-12 mt-3 mb-3 mx-0 p-0">
                  <mat-accordion multi>
                    <mat-expansion-panel
                      *ngFor="
                        let baby of patientDetails.baby.baby_list;
                        index as index
                      "
                      [expanded]="baby.open"
                    >
                      <mat-expansion-panel-header color="primary">
                        <mat-panel-title class="text-info">
                          <h5>Baby: {{ index + 1 }}</h5>
                        </mat-panel-title>
                      </mat-expansion-panel-header>

                      <div class="row col-md-12">
                        <div class="col-md-4">
                          <mat-form-field
                            class="example-full-width"
                            appearance="outline"
                          >
                            <mat-label>Birth Weight</mat-label>
                            <input
                              type="text"
                              matInput
                              [(ngModel)]="baby.birth_weight"
                            />
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field
                            appearance="outline"
                            class="example-full-width"
                          >
                            <mat-label>Birth Date</mat-label>
                            <input
                              matInput
                              [matDatepicker]="babyBirthDate"
                              [min]="minBirthDate"
                              [max]="maxBirthDate"
                              [(ngModel)]="baby.baby_birth_date"
                            />
                            <mat-datepicker-toggle
                              matSuffix
                              [for]="babyBirthDate"
                            ></mat-datepicker-toggle>
                            <mat-datepicker #babyBirthDate></mat-datepicker>
                          </mat-form-field>
                        </div>

                        <div class="col-md-4 otherRadioYN">
                          <div class="col-md-4 mt-2 mb-1 p0">
                            <h6 class="text-secondary">Sex of Baby:</h6>
                          </div>
                          <div class="col-md-8 mt-2 mb-1 p0">
                            <mat-radio-group
                              aria-label="Select an option"
                              [(ngModel)]="baby.baby_gender"
                              color="primary"
                            >
                              <mat-radio-button value="M">M</mat-radio-button>
                              <mat-radio-button value="F">F</mat-radio-button>
                            </mat-radio-group>
                          </div>
                        </div>

                        <div class="col-md-4 otherRadioYN">
                          <div class="col-md-4 mt-2 mb-1 p0">
                            <h6 class="text-secondary">NICU:</h6>
                          </div>
                          <div class="col-md-8 mt-2 mb-1 p0">
                            <mat-radio-group
                              aria-label="Select an option"
                              [(ngModel)]="baby.nicu"
                              color="primary"
                            >
                              <mat-radio-button [value]="true"
                                >Y</mat-radio-button
                              >
                              <mat-radio-button [value]="false"
                                >N</mat-radio-button
                              >
                            </mat-radio-group>
                          </div>
                        </div>

                        <div class="col-md-4 otherRadioYN">
                          <div class="col-md-4 mt-2 mb-1 p0">
                            <h6 class="text-secondary">APGAR 5 min:</h6>
                          </div>
                          <div class="col-md-8 mt-2 mb-1 p0">
                            <mat-radio-group
                              aria-label="Select an option"
                              [(ngModel)]="baby.apgar"
                              color="primary"
                            >
                              <mat-radio-button value=">7">
                                &gt;7</mat-radio-button
                              >
                              <mat-radio-button value="<7">
                                &lt;7</mat-radio-button
                              >
                            </mat-radio-group>
                          </div>
                        </div>

                        <div class="col-md-4 otherRadioYN">
                          <div class="col-md-4 mt-2 mb-1 p0">
                            <h6 class="text-secondary">Live Birth:</h6>
                          </div>
                          <div class="col-md-8 mt-2 mb-1 p0">
                            <mat-radio-group
                              aria-label="Select an option"
                              [(ngModel)]="baby.live_birth"
                              color="primary"
                            >
                              <mat-radio-button [value]="true"
                                >Y</mat-radio-button
                              >
                              <mat-radio-button [value]="false"
                                >N</mat-radio-button
                              >
                            </mat-radio-group>
                          </div>
                        </div>

                        <div class="col-md-4 otherRadioYN">
                          <div class="col-md-4 mt-2 mb-1 p0">
                            <h6 class="text-secondary">Vertex:</h6>
                          </div>
                          <div class="col-md-8 mt-2 mb-1 p0">
                            <mat-radio-group
                              aria-label="Select an option"
                              [(ngModel)]="baby.vertex"
                              color="primary"
                            >
                              <mat-radio-button [value]="true"
                                >Y</mat-radio-button
                              >
                              <mat-radio-button [value]="false"
                                >N</mat-radio-button
                              >
                            </mat-radio-group>
                          </div>
                        </div>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>
            </div>

            <div class="row col-md-12 p0 mx-0 mb-1">
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="example-full-width">
                  <mat-label>GBS (+/-) </mat-label>
                  <mat-select
                    color="secondary"
                    [(ngModel)]="this.patientDetails.gbs"
                  >
                    <mat-option value="1"> +ve</mat-option>
                    <mat-option value="2"> -ve</mat-option>
                    <mat-option value="3"> Unknown</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline" class="gtpal_width">
                  <mat-label>G </mat-label>
                  <mat-select
                    color="secondary"
                    [(ngModel)]="patientDetails.gravida"
                  >
                    <mat-option *ngFor="let value of gList" [value]="value">
                      {{ value }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="gtpal_width">
                  <mat-label>T </mat-label>
                  <mat-select
                    color="secondary"
                    [(ngModel)]="patientDetails.term"
                  >
                    <mat-option *ngFor="let value of gspsList" [value]="value">
                      {{ value }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="gtpal_width">
                  <mat-label>P </mat-label>
                  <mat-select
                    color="secondary"
                    [(ngModel)]="patientDetails.preterm"
                  >
                    <mat-option *ngFor="let value of gspsList" [value]="value">
                      {{ value }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="gtpal_width">
                  <mat-label>A </mat-label>
                  <mat-select
                    color="secondary"
                    [(ngModel)]="patientDetails.abortions"
                  >
                    <mat-option *ngFor="let value of gspsList" [value]="value">
                      {{ value }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="gtpal_width">
                  <mat-label>L </mat-label>
                  <mat-select
                    color="secondary"
                    [(ngModel)]="patientDetails.living"
                  >
                    <mat-option *ngFor="let value of gspsList" [value]="value">
                      {{ value }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <!-- GYN Fields -->
          <div
            class="row col-md-12 p0 mx-0"
            type="GYN"
            *ngIf="patientDetails.patient_type_id === '2'"
          >
            <div class="col-md-12 mb-1">
              <h3 class="text-info">GYN</h3>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Date Of Surgery </mat-label>
                <input
                  matInput
                  [min]="dateOfSurgeryMinDate"
                  [max]="dateOfSurgeryMaxDate"
                  [matDatepicker]="picker1"
                  [(ngModel)]="patientDetails.surgery_date"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker1"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Surgeon</mat-label>
                <input
                  matInput
                  [(ngModel)]="patientDetails.performing_surgeon"
                />
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Pre-op Diagnosis</mat-label>
                <input
                  type="text"
                  matInput
                  [(ngModel)]="patientDetails.pre_op"
                />
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>EBL </mat-label>
                <mat-select
                  color="secondary"
                  [(ngModel)]="patientDetails.ebl"
                  name="ebl"
                >
                  <mat-option value="0"></mat-option>
                  <mat-option value="<7">&lt;7</mat-option>
                  <mat-option value="100-300 cc">100-300 cc</mat-option>
                  <mat-option value="300-700 cc">300-700 cc</mat-option>
                  <mat-option value=">7">&gt;7</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Complications</mat-label>
                <input matInput [(ngModel)]="patientDetails.complications" />
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Foley Catheter</mat-label>
                <mat-select
                  color="secondary"
                  [(ngModel)]="patientDetails.fcm"
                  name="fcm"
                >
                  <mat-option value="0"></mat-option>
                  <mat-option value="D/C">D/C</mat-option>
                  <mat-option value="Voiding Trial">Voiding Trial</mat-option>
                  <mat-option value="Keep">Keep</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Post-op Antibiotics </mat-label>
                <mat-select
                  color="secondary"
                  [(ngModel)]="patientDetails.post_op_antibiotics"
                  name="postop"
                >
                  <mat-option value="0"></mat-option>
                  <mat-option [value]="true"> Yes</mat-option>
                  <mat-option [value]="false"> No</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <hr class="mt-2 mb-3" />

          <div class="col-12">
            <div class="col-md-12 mb-2 mx-0 p-0">
              <h5 class="text-info">
                Pertinent Info:<span class="text-danger">*</span>
              </h5>
            </div>
            <div class="col-md-12 mt-3 mb-3 mx-0 p-0">
              <mat-accordion multi>
                <mat-expansion-panel
                  [expanded]="true"
                  *ngFor="let info of patientPertinentInfoList; index as index"
                >
                  <mat-expansion-panel-header color="primary">
                    <mat-panel-title class="text-info">
                      Day {{ index + 1 }}
                    </mat-panel-title>
                    <mat-panel-description class="text-info">
                      {{ info._id }}
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <div class="example-container mat-elevation-z8">
                    <mat-table #table [dataSource]="info.list">
                      <ng-container matColumnDef="firstName">
                        <mat-header-cell *matHeaderCellDef>
                          Name
                        </mat-header-cell>
                        <mat-cell *matCellDef="let dayDesc">
                          {{ dayDesc.approver_info[0].first_name }}
                          {{ dayDesc.approver_info[0].last_name }}
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="updatedDate">
                        <mat-header-cell *matHeaderCellDef>
                          Updated Date
                        </mat-header-cell>
                        <mat-cell *matCellDef="let dayDesc">
                          {{ dayDesc.updated_date }}
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="pertinentInfo">
                        <mat-header-cell *matHeaderCellDef>
                          Pertinent Info
                        </mat-header-cell>
                        <mat-cell
                          *matCellDef="let dayDesc"
                          [satPopoverAnchorFor]="p"
                          (click)="openCommentPopUp(p, dayDesc)"
                        >
                          <ng-container>
                            {{ dayDesc.pertinent_info }}
                          </ng-container>

                          <sat-popover
                            #p
                            hasBackdrop
                            xAlign="start"
                            yAlign="start"
                            (closed)="update(dayDesc.value, $event)"
                          >
                            <inline-edit
                              [value]="dayDesc.pertinent_info"
                            ></inline-edit>
                          </sat-popover>
                        </mat-cell>
                      </ng-container>

                      <mat-header-row
                        *matHeaderRowDef="this.displayedColumns"
                      ></mat-header-row>
                      <mat-row
                        *matRowDef="let row; columns: displayedColumns"
                      ></mat-row>
                    </mat-table>
                  </div>


                </mat-expansion-panel>
              </mat-accordion>
            </div>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Add Pertinent Info</mat-label>
              <textarea matInput [(ngModel)]="patientDetails.pertinent_info">
              </textarea>
            </mat-form-field>
          </div>

          <!-- <div class="row col-md-12 p0 mx-0">
            <hr />
            <div class="col-md-12 mb-3">
              <h5 class="text-info">
                Appointment
                <mat-hint
                  class="hintFont"
                  align="end"
                  open
                  matTooltip="For creating an appointment, fill all below mandatory fields. &#13;&#10;&#13;&#10; (NOTE: If the admit date has been given, no need to fill the appointment section)"
                  matTooltipPosition="right"
                  ><i class="fa fa-info-circle fa-lg"></i
                ></mat-hint>
              </h5>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Start Time </mat-label>
                <input
                  matInput
                  type="datetime-local"
                  [(ngModel)]="patientDetails.appointmentStartTime"
                />

                <mat-datepicker #appointmentStartTime></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>End Time </mat-label>
                <input
                  matInput
                  type="datetime-local"
                  [(ngModel)]="patientDetails.appointmentEndTime"
                />

                <mat-datepicker #appointmentEndTime></mat-datepicker>
              </mat-form-field>
            </div>
          </div> -->

          <div class="row col-md-12 mx-0 actionButtonsWrapper">
            <button
              mat-raised-button
              class="btn actionButtons"
              (click)="patientsTypeSelection()"
            >
              Cancel
            </button>
            <button
              mat-raised-button
              class="btn btn-info actionButtons"
              (click)="savePatientDetails()"
              *ngIf="patientStatus !== 'discharged'"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
