.login-block {
  height: 100%;
  background: #efeff4;
  .login-form {
    width: 400px;
    height: 500px;
    margin: 0 -200px;
    position: absolute;
    left: 50%;
    top: 5%;
    .login-header {
      text-align: center;
      background: #efeff4;
      img {
        width: 100px;
        height: 100px;
        margin: 2%;
      }
      div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        h1 {
          font-family: abeatbyKai;
        }
      }
    }
    .login-body {
      margin-top: -2px;
      padding-top: 10px;
      background: #f4f4fb;
      h2 {
        padding: 0 30px;
        color: #10172f;
        font-family: "PoppinsMedium";
        font-size: 24px;
        letter-spacing: 0.5px;
      }

      .subhead {
        padding: 10px 30px;
        color: #5a6ca0;
        font-family: "PoppinsLight";
        font-size: 16px;
        letter-spacing: 0.5px;
        margin: 0px;
      }
      .control-group {
        margin-top: 10px;
        padding: 0 30px;
        .example-full-width {
          width: 100%;
        }
        .form-input {
          width: 100%;
          display: block;
          height: 35px;
          padding: 8px 12px;
          border-radius: 0 !important;
          background-color: #f9f9f9;
          border: 1px solid #cccccc;
          margin-bottom: 10px;
          font-size: 14px;
          line-height: 20px;
          color: #555555;
          vertical-align: middle;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
          -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
          -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
          &:focus {
            border-color: rgba(82, 168, 236, 0.8);
            outline: 0;
          }
          &:visited {
            border-color: rgba(82, 168, 236, 0.8);
            outline: 0;
          }
        }
      }
      .submit {
        padding: 0 30px;
        display: flex;
        justify-content: space-evenly;
      }
      .forget {
        margin-top: 50px;
        a {
          background: #f4f4fb;
          padding: 10px 0;
          text-align: center;
          display: block;
          text-decoration: none;
          color: #1faa60;
          font-size: 16px;
          font-family: "PoppinsRegular";
          span {
            line-height: 30px;
            margin-bottom: 10px;
            position: relative;
          }
        }
      }
    }
  }
}
.blue-btn {
  background: #1faa60;
  color: #fff;
  padding: 7px 10px;
  transition: all linear 0.2s;
  &:hover {
    background: #1faa60;
  }
  &:active {
    background: #1faa60;
  }
}
