<section class="row mlr0 navbar-block" *ngIf="loggedIn">
  <div class="col-md-3 logo-wrapper">
    <img class="logo" src="../../assets/Logonew.png" alt="logo" />

    <div class="logo-title-wrapper">
      <h3 class="title" style="color: #1faa60">insta</h3>
      <h3 class="subtitle" style="color: #10172f">rounds</h3>
    </div>
  </div>
  <div class="col-md-9 col-sm-12 col-xs-12 p0">
    <ul class="custom-breadcrumb">
      <li>
        <a href="javascript:void(0)" (click)="gotoDashboardPage()">Dashboard</a>
      </li>
      <li>
        <a
          href="javascript:void(0)"
          class="active"
          (click)="patientsTypeSelection()"
          >Patients</a
        >
      </li>
      <li>
        <a href="javascript:void(0)">MD Connect</a>
      </li>
      <li>
        <a href="javascript:void(0)" (click)="goToSchedulerPage()">Schedule</a>
      </li>
      <li>
        <a href="javascript:void(0)" (click)="goToAnlyticsPage()">Analytics</a>
      </li>
    </ul>
  </div>
</section>

<router-outlet></router-outlet>
