.navbar-block {
  background: #fff;
  height: 85px;
  box-shadow: 0 2px 4px #b2b2b2;

  .logo-wrapper {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .logo-title-wrapper {
    display: flex;
    flex-direction: row;
    padding: 10px 0 0 10px;
    h3 {
      font-family: "PoppinsRegular";
    }
  }
}
.custom-breadcrumb {
  padding: 0;
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  li {
    display: inline-block;
    list-style: none;
    a {
      display: inline-block;
      text-decoration: none;
      padding: 10px 15px;
      color: #646464;
      margin: 0 23px;
      font-weight: 500;
      border-bottom: 2px solid #fff;
      transition: all 0.3s;
      &.active {
        color: #003c6f;
        border-bottom: 2px solid #003c6f;
      }
      &:hover {
        color: #003c6f;
        border-bottom: 2px solid #003c6f;
      }
    }
  }
}
.display-body {
  margin-top: 25px;
}
